.form{
    width: 70%;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    height:600px;
    margin-left: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
@media screen and (max-width:750px){
    .formulario{
       width: 100%;
      
    }
}
form{
    z-index: 4;
}
.button{
    text-align: left !important;
    margin-left: 70px;
    margin-top: 20px;
}
.check-box{
    text-align: left !important;
    margin-left: 70px;
    margin-top: 20px;
}
.butttonsend{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 43%;
    height: 45px;
}
.dividir{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-right: 12px;
}
.select{
   margin-left: 60px;
   margin-right: 20px;
   width: 60%;
}
.field{
    width: 100%;
}
mat-form-field{
    width: 70%;
    margin-top:20px;
}
.forma{
    border: 1px solid #aaa;
    border-radius: 30px;
    background-color: white;
    height: 40px;
    padding-left: 15px;
 
}
.select2{
    margin-right: 42px;
}
.titulo{
    font-weight: bold;
    font-size: 40px;
}
a{
    color: blue;
}