.form{
    width: 70%;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    height:600px;
    margin-left: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow: hidden;
}
@media screen and (max-width:750px){
    .formulario{
       width: 100%;
      
    }
}
form{
    z-index: 4;
}
.button{
    text-align: left !important;
    margin-left: 70px;
    margin-top: 20px;
}
.check-box{
    display: flex;
    text-align: left !important;
    margin-left: 70px;
    margin-top: 20px;
    flex-flow: row;
}
.butttonsend{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 43%;
    height: 45px;
}
.dividir{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-right: 12px;
}
.select{
   margin-left: 55px;
   margin-right: 10px;
   width: 55%;
}
.field{
    width: 100%;
}
mat-form-field{
    width: 70%;
    margin-top:20px;
}
.forma{
    border: 1px solid #aaa;
    border-radius: 30px;
    background-color: white;
    height: 40px;
    padding-left: 15px;
 
}
.select2{
    margin-right: 50px;
    width: 65%;
}
.titulo{
    font-weight: bold;
    font-size: 40px;
}
a{
    color: blue;
}
a:hover{
    cursor: pointer;
}
.contA{
    padding-top: 2px;
    padding-left: 3px;
}
@media screen and (max-width:1400px){
    .dividir{
        margin-right: 0px;
    }
    .select{
       margin-left: 85px;
       margin-right: 0;
       width: 50%;
    }
    mat-form-field{
        width: 60%;
    }

    .select2{
        margin-right: 90px;
        width: 50%;
    }
    .check-box{
      
        margin-left: 112px;
       
    }
    .button{
        
        margin-left: 110px;
       
    }
    
}
@media screen and (max-width:524px){
    .form{
        width: 100%;
        margin-left: 0% !important;
    }
}
@media screen and (max-width:380px){
    .select{
       margin-left: 0px;
       margin-right: 0;
       width: 65%;
    }
    mat-form-field{
        width: 65%;
    }

    .select2{
        margin-left: 0px;
        margin-right: 0;
        width: 65%;
    }
    .dividir{
        flex-flow: column;
        margin-right: 0px;
    }
    .check-box{
     
       margin-left: 40px;
       flex-flow: column;
    }
    .button{
        
        margin-left: 0;
        text-align: center !important;
       
    }
    .example-margin{
        font-size: 15px;
    }
    a{
        font-size: 12px;
    }
    .titulo{
        font-size: 30px;
    }
}
