<div class="content triangle-border">
    <div class="close ">
        <button mat-button cdkFocusInitial (click)="cerrar()" class="modal__btn"><mat-icon> highlight_off</mat-icon></button>
    </div>
    <div class="center">
        <h3 class="tituloBanner letra">¡ Gracias por confiar en nosotros y dejarnos tus datos!,</h3>
        <p class="parrafo">para SsangYong tu eres lo mas importante y pronto nos pondremos en contacto contigo</p>
        <h1 class="conoce letra">CONOCE MÁS DE TU FUTURA CAMIONETA</h1>
    </div>
   
</div>
<section class="imgContent">
    <img src="../assets/img/Ssanyong_video.png">
</section>
