.center{
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
 
}
.close{
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
  
}
