<div class="image-back">
  <div class="page-header" >
    <img class="logo" src="../assets/img/logo.png">
    <img class="caracteristicas" src="../assets/img/Caracteristicas.png">
    <div class="contenedor-form">
      <div class="formulario">
        <router-outlet></router-outlet> 
      </div>
    </div>
  </div>
</div>
<div class="image-korando">
  <img src="../assets/img/footer.PNG">
</div>
<div class="title-features">
  Características
</div>

<div class="contenedor1-style">
  <div class="paragraph-features">
    <div class="subtitle-features">
      <strong>Sub chasis</strong> Delantero y trasero
    </div>
    <strong>Subchasis completo delantero y trasero reforzado</strong> que incrementa la seguridad
    resistiendo la deformación frente a una colisión, absorbe la vibración de la superficie del
    camino, mejorando la estabilidad vehicular.
  </div>
  <div class="chasis-features">
    <img src="../assets/img/lata.PNG" width="85%">
  </div>
</div>
<div class="contenedor2-style">
  <div class="motor-features">
    <img src="../assets/img/motor.png" width="80%">
  </div>
  <div class="paragraph2-features">
    <div class="subtitle-features">
      Motor <strong>2.0 147</strong> HP <strong>197 NM</strong>
    </div>
    <strong>A las 1.500 revoluciones el motor genera el 80% de su fuerza.</strong> Haciendo de Korando
    una camioneta con un excelente desempeño.
  </div>
</div>
<div class="contenedor3-style">
  <div class="paragraph-features">
    <div class="subtitle-features">
      Sistema Electrónico de <strong>Estabilidad (ESP)</strong>
    </div>
    Emplea una combinación de intervención del acelerador y frenado en cada rueda para ayudar a mantener
    mayor estabilidad sobre todo tipo de superficies y <strong>prevención de accidentes.</strong>
  </div>
  <div class="camioneta-features">
    <img src="../assets/img/camioneta.png" width="80%">
  </div>
</div>
<div class="contenedor4-style">
  <div class="interior-features">
    <img src="../assets/img/interior.png" width="80%">
  </div>
  <div class="paragraph3-features">
    <div class="subtitle3-features">
     Interior <strong>muy espacioso</strong>
    </div>
    <strong>Realza la sensación de comodidad en sus ocupantes,</strong> además, es un vehículo
    pensado también para los pasajeros traseros, dándoles la posibilidad de reclinar sus sillas
    e ir mucho más cómodos.
  </div>
</div>
<div class="contenedor3-style">
  <div class="paragraph4-features">
    <div class="subtitle-features">
      Completo sistema de <strong>luces (LED)</strong>
    </div>
    Resaltan la imagen trasera y delantera de la camioneta.
  </div>
  <div class="camioneta-features">
    <img src="../assets/img/capo.png" width="80%">
  </div>
</div>
<div class="title-features">Galería de imágenes</div>
<div class="style-grid">
  <mat-grid-list cols="3">
    <mat-grid-tile ><img src="../assets/img/leer.png"></mat-grid-tile>
    <mat-grid-tile ><img src="../assets/img/cicla.png"></mat-grid-tile>
    <mat-grid-tile ><img src="../assets/img/silla.png"></mat-grid-tile>
    <mat-grid-tile ><img src="../assets/img/palanca.png"></mat-grid-tile>
    <mat-grid-tile ><img src="../assets/img/camionetagrid.png"></mat-grid-tile>
    <mat-grid-tile ><img src="../assets/img/direccional.png"></mat-grid-tile>
  </mat-grid-list>
</div>
<div class="garantia-style">
  <img class="imagen-garantia" src="../assets/img/garantia.png">
</div>
<div class="garantia-text">7 años o 150.00 km servicio particular (modelos 2019 en adelante)*</div> 
<div class="garantia-text">2 años 50.000km servicios público*</div>
<div class="garantia-text">Fotos de Referencia, los Rines, accesorios y colores en Colombia pueden variar.</div> 
<div class="garantia-text">Especificaciones de Precios sujetos a cambio sin previo aviso.</div>
<div class="garantia-text">Consultar condiciones especificas de la garantía del vehiculo en la Guía de Servicio del vehículo y/o en el concesionario.</div>
<div class="div-boton">
  <button mat-raised-button class="boton-style">¡COTIZA YA!</button>
</div>
<hr class="linea">
<div class="derechos">® 2020 Ssangyong Motor Colombia.</div>
 





