/*
Estilos del Banner
*/

.image-back{
    background: transparent url('../assets/img/Banner.png') 100% 0% no-repeat padding-box;  
    background-position-y: -101px;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;

    z-index: -2;
}

.page-header{
    
   
    background: transparent url('../assets/img/Banner.png') 100% 0% no-repeat padding-box;
    background-position-y: -100px;
    background-position-x: -193px;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;

    z-index: -1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   
  
}
img{
    overflow: hidden;
    position: relative;

}
.logo{
    top: 19px;
    left: 5%;
    width: 342px;
    height: 40px;
}
.caracteristicas{
    top: 610px;
    left: -12%;
    width: 342px;
    height: 61px;
}
@media screen and (max-width:1500px){
    .caracteristicas{
        top: 550px;
    } 
    .page-header{
        background-position-y: -140px;
    }
    .image-back{
        background-position-y: -141px;
    }
}
@media screen and (max-width:1358px){
    .logo{
        width: 250px;
        height: 30px;
    }
    .caracteristicas{
        top: 500px;
        left: -10%;
    } 
}
@media screen and (max-height:600px){
    .caracteristicas{
        top: 450px !important;
    } 
}
@media screen and (max-height:579px){
    .caracteristicas{
        background-position-y: -50px;
    } 
}
@media screen and (max-width:1264px){
    .image-back{
        background-position-y: -51px;
    }
    .page-header{
        background-position-y: -50px;
    }
    .caracteristicas{
        top: 540px;
        left: -11%;
    } 
}
@media screen and (max-width:1122px){
    .page-header{
        background: none !important;
    }
    .image-back{
        background-position-y: 0px;
    }
    .logo{
       display: none;
    }
    .caracteristicas{
        display: none;
    } 
}
/*
Estilos del contenedor del formulario
*/
.contenedor-form{
    display: flex;
    flex-flow: row-reverse;
    width: 100%;
    z-index: 1;
}


.formulario{
    height: 80%;
    margin-top: 5%;
    width: 60%;
    z-index: 2;
}


@media screen and (max-width:1500px){
    .formulario{
        height: 100%;
        margin-top: 10px;
      
    }
}
@media screen and (max-width:1122px){
    .contenedor-form{
        margin-top: 20px;
        flex-flow: nowrap;
        justify-content: center;
        text-align: center;
        align-items:center;
    } 
}
@media screen and (max-width:945px){
    .formulario{
       width: 100%;
    }
}

/*
    Estilos para las características
*/

.image-korando{
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
}
.title-features{
    margin-top: 5%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: inherit;

}
.subtitle-features{
    margin-top: 2%;
    font-size: 25px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
    margin-bottom: 7%;
    
}
.paragraph-features{
    width: 30%;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 18px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
}
.chasis-features{
    width: 55%;
    text-align: center;
}
.contenedor1-style{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}
.contenedor2-style{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}
.motor-features{
    width: 46%;
    margin-left: 15%;
    margin-top: 5%;
}
.paragraph2-features{
    width: 30%;
    margin-top: 25%;
    font-size: 18px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
}
.subtitle2-features{
    margin-top: 2%;
    font-size: 25px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
    margin-bottom: 7%;
}
.contenedor3-style{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contenedor4-style{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.camioneta-features{
    margin-left: 2%;
    width: 50%;
    text-align: center;
    
}
.interior-features{
    width: 46%;
    margin-left: 15%;
}
.subtitle3-features{
    
    font-size: 25px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
    margin-bottom: 7%;
    
}
.paragraph3-features{
    width: 30%;
    margin-top: 15%;
    font-size: 18px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
}

.paragraph4-features{
    width: 30%;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 18px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
}
.subtitle-features{
    margin-top: 2%;
    font-size: 25px;
    font-weight: 220;
    text-align: left;
    font-family: inherit;
    margin-bottom: 7%;
}

.style-grid{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 8%;
}
.garantia-style{
    width: 350px;
    height: 138px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.garantia-text{
    font-size: 14px;
    font-weight: 420;
    text-align: center;
    font-family: inherit;
    color: rgb(185, 182, 182);
}
.boton-style{
    margin-top: 3%;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 18px;
}
.div-boton{
    text-align: center;
    margin-bottom: 3%;
}
.linea{
    color: gray;
    margin-bottom: 3%;
    margin-left: 12%;
    margin-right: 8%;
}
.derechos{
    margin-left: 12%;
    font-size: 14px;
    font-weight: 450;
    text-align: left;
    font-family: inherit;
    color: gray;
    margin-bottom: 3%;
}
@media screen and (max-height:570px){
    .formulario{
        margin-top: 0 !important;
    }
}
@media screen and (max-width:1274px){
    .contenedor-form{
        width: 200%;
    }
}
@media screen and (max-width:554px){
    .contenedor-form{
        overflow: hidden;
    }
}
@media screen and (max-width:781px){
    .image-korando{
        display: flex;
        overflow: hidden;
        justify-content: center;
        text-align: center;
    }
    .contenedor1-style{ 
        text-align: center;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
    .contenedor2-style{
        text-align: center;
        justify-content: center;
        flex-flow: column-reverse;
        align-items: center;
    } 
    .contenedor3-style{
        text-align: center;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
    .contenedor4-style{
        text-align: center;
        justify-content: center;
        flex-flow: column-reverse;
        align-items: center;
    }
    .paragraph-features,.paragraph3-features,.paragraph4-features{
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .subtitle-features, .subtitle3-features{
        text-align: center;
    }
    .paragraph2-features{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .interior-features,.camioneta-features,.motor-features{
        margin-left: 0;
    }
    .garantia-style{
       width: 100%;
    }
    .imagen-garantia{
        width: 100%;
    }
 
}